.panel {
  background: rgb(42, 42, 42);
}
.nft-item {
  padding: 12px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nft-item i {
  margin-right: 8px;
}

.notice {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 12px;
}