.nft-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.nft-thumbnail {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  overflow: hidden;
}

.nft-thumbnail .img-thumb {
  height: 366px;
  overflow: hidden;
}

.nft-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 1s;
}

.nft-thumbnail img:hover {
  transform: scale(1.2);
}

.nft-thumbnail .info {
  padding: 12px;
}

.nft-thumbnail .name,
.collection {
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nft-contract {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
}

 /* input {
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;  
} */

.nft-contract .text-center {
  margin-top: 12px;
}

.nft-contract .loading {
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

.nft-contract .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.nft-contract input,
.nft-contract textarea {
  border-radius: 8px;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}

.nft-contract input:focus,
.nft-contract textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
  color: #fff;
}

.nft-contract input::-moz-placeholder,
.nft-contract textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.nft-contract input::placeholder,
.nft-contract textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.nft-contract input {
  padding: 10px 15px;
}

.nft-contract textarea {
  padding: 12px 15px;
}

.nft-contract button[type=submit] {
  background: #48c381;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 1s;
  border-radius: 4px;
}

.nft-contract button[type=submit]:hover {
  background: #15bb62;
}

.nft-contract .error-message {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  background: #f86464;
  text-align: left;
  padding: 15px;
  font-weight: 600;
  margin-top: 12px;
}

.nft-contract .error-message br+br {
  margin-top: 25px;
}

.nft-contract .sent-message {
  margin-top: 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  background: #2c965d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}